<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-muted">Angular codekul.com</h4>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12">
      <app-code-alert></app-code-alert>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-jumbo></app-jumbo>
    </div>
  </div> -->

  <!-- <app-databinding></app-databinding> -->
  <!-- <app-locl-refs>
    <div class="jumbotron" #jmb>
      Hey this is jumbo
    </div>
  </app-locl-refs>

  <app-cmp-lyf *ngIf="tgl" [myIp]="'android'"></app-cmp-lyf>
  <input type="button" value="Okay" class="btn" (click)="myClk()"> -->

  <app-directives></app-directives>
</div>