<div class="row">
  <div class="col-md-12">
    <p>This is {{ wht }} </p> 
    <p>Function call {{ whtIs() }} </p> 
    <p>Expression evaluation is {{ 56 * 89 }} </p> 
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div><input [type]="'text'"></div>  
    <div><input [type]="ty"></div>  
    <div><input [class.text-muted]="false"></div>
    <div><input [style.border]="'1px solid red'"></div>
    <!-- <div><input [attr.border]="'1px solid red'"></div>   -->
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="button" value="Okay" (click)="clkM()">
    <input type="button" value="Okay" (click)="tgl = !tgl">{{tgl}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="text" [(ngModel)]="myNm">
  </div>
</div>
<div class="row">
  <div [class.jumbotron]="tgl">
    {{myNm}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-rating 
      [ttl]="'Feedback rating'" 
      (stClk)="onStrClk($event)"></app-rating>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-rating 
      [ttl]="'Food Survey'" 
      (stClk)="onStrClk($event)"></app-rating>
  </div>
</div>